/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

* {
    background-color:white;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

main {
    flex: 1;
    padding-top: 60px; /* Ajustar este valor de acordo com a altura do cabeçalho */
}

.page-container { /* Todo body está dentro desse container visando acertar a posição do rodapé */
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1em 0;
    background-color: white;
    z-index: 1000; /* Garante que o menu fique sobre outros elementos */
}

.cabecalho-logo {
    align-self: flex-start;
}

#menu {
    display: flex;
    list-style: none;
    justify-content: right;
    font-family:'Lucida Sans', sans-serif;
    font-size: large;
}

#menu li::after { /* Adiciona a barra vertical entre os itens do menu */
    content: "|";
    color: rgb(95, 95, 95);
    margin-left: 10px;
    margin-right: 10px;
}

#menu li:last-child::after { /* Remove a última barra após o último item do menu */
    content:"";
}

#menu li a {
    color: rgb(95, 95, 95);
    text-decoration: none;
    transition: ease-in-out 0.4s;
}

#menu li a:hover {
    color: black;
}

.wrapper { /* Engloba o conteúdo principal da página, que não menu nem rodapé */
    display: flex;
    flex-direction: column;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    text-align: justify;
    margin: 0 20vw;
    padding-bottom: 3.5rem;
    max-width: 800px;
}

.wrapper a {
    color:rgb(95, 95, 95)
}

.wrapper.long-content { /* Para páginas mais longas, essa div dá mais espaço entre o conteúdo e o rodapé */
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
}

.content-container1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.content-container2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    align-self: center;
    margin: 30px 0 0 0;
}

.content-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: start;
}

.element1 {
    flex: 3;
    min-width: 600px;
    max-width: 800px;
    flex-grow: 0;
}

.element2 {
    flex: 1;
    min-width: 200px;
    font-size: 14px;
    flex-grow: 0;
}

.element3 {
    flex: 2;
    min-width: 300px;
    max-width: 500px;
}

.element4 {
    margin: 10px 0 20px 0;
    height: 350px;
    width: auto;
    overflow: hidden;
}

.carrossel {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.legenda {
    margin-top: 10px;
    text-align: justify;
    text-overflow: ellipsis;
}

h1 {
    font-family: Roboto, sans-serif;
    font-size: 2.3em;
    text-align: center;
}

h2 {
    font-family: Open Sans, sans-serif;
    font-size: 1.3em;
    margin-top:0;
}

h3 {
    font-family: Open Sans, sans-serif;
    font-size: 1.1em;
    margin-top: 30px;
}

#imagem_apresentacao img {
    width: 100%;
    height: auto; 
    margin-top: 20px;
}

#imagem_apresentacao p {
    font-family: 'Lucida Sans', sans-serif;
    text-align: left;
}

#mais {
    background-image: url(imgs/monetsunrise.jpg);
    background-size: cover;
    background-position: center 68%;
    background-repeat: no-repeat;
    height: 270px;
    width: 100%;
    margin: 10px 0 10px 0;
}

#mais h1 {
    margin: 0 auto;
    line-height: 270px;
    font-size: 3em;
    background: none;
    color: antiquewhite;
    top: 50%;
    left: 50%;
}

.fundo {
    background-color: rgb(93, 151, 134);
    margin: 20px 0 20px 0;
}

.fundo p {
    color: antiquewhite;
    background: none;
    margin: 20px;
}

.conteudo-expandido {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    position: relative;
}

.leia-mais-checkbox { /* Esconde o checkbox */
    display: none;
}

.leia-mais-btn { /* Mantém o botão visível e estiliza */
    display: inline-block;
    color: rgb(95, 95, 95);
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px 0;
    transition: color 0.3s ease;
    position: relative;
}

.leia-mais-btn:hover {
    color: black;
}

.leia-mais-checkbox:checked ~ .conteudo-expandido {
    max-height: 500px;
    display: block;
}

.leia-mais-checkbox:checked ~ .leia-mais-btn::before {
    content: "- Menos?";
    text-decoration: underline;
}

.leia-mais-btn::before {
    content: "+ Mais?";
    text-decoration: underline;
}

.leia-mais-checkbox:checked ~ .leia-mais-btn { /* Mantém o botão visível quando clicado */
    display: inline-block;
}

.button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
    background-color: rgb(175, 175, 175);
    line-height: 40px;
    padding: 0 30px 0 30px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: ease-in-out 0.4s;
}

.button:hover {
    border: 1px solid rgb(175, 175, 175);
    background-color:white;
    color: rgb(175, 175, 175);
}

form {
    font-size: 14px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
    padding: 15px;
}

form input, form textarea {
    outline: unset;
    padding: 5px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    margin-top: 4px;
}

#footer {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 12px;
    position: absolute;
    background: white;
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
    bottom: 0;
    height: 2.5rem;
}